/****************************
*       CSS INDONESIE
****************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/****************************
*   background color vert
****************************/
.fd {
    background-color: #31525B;
    color: #fff;
    padding: 3%;
}
/*********************************************
*      div 80% de la largeur de la page 
***********************************************/
.in_content {
    width: 80%;
    margin: 100px auto;
    padding: 0;
}
/*****************************************************
*  taille et positionnement des images d'illustration 
******************************************************/

.right {
    float: right;
    max-width: 300px;
    height: auto;
    display: block;
}
.left {
    float: left;
    max-width: 350px;
    height: auto;
    display: block;

    padding: 0 10px 10px;
}
.img_wrap {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0;
}
.in_center_items {
    align-items: center;
}
.in_icon {
    width: 70%;
}
.mini_map {
    width: 150px;
    height: 100px;
    display: inline-block;
}

/****************************
*  formatage du texte 
*****************************/
body#in p {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
.justify {
    text-align: justify;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}
.tcenter {
    text-align: center;
}
.marge {
    padding: 0 20px 
}
.small {
    font-size: 0.8em;
    line-height: 1;
    padding-bottom: 15px;
}
.blue {
    color: #B3D5C6;
}
.green {color: #31525B}

.roboto {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
blockquote {
    font-size: 15px;
    font-style: italic;
    color: #31525B;
    text-align: left;
}
.in_txt {
    text-align: justify; 
    width: 100%;  
    margin: 2% auto;
}
/*** meteo ***/
#meteo {
    max-width: 100%;
    border:2px solid #ccc;
    margin-top: 15px;
}
td {
    padding: 0 10px;
}
.entete{
    background:rgba(164, 164, 164, 0.5);
    padding: 5px;
    text-align: center;
}
.in_caption {
    position: absolute;
    top: 50%;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
}
/****************************
*          hero 
*****************************/
.in_hero {
    background-image: url(../img/indonesie/volcano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}
.in_hero-txt {
    width: 80%;
    text-align: center;
}
h1.in {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Playfair Display', serif;
    font-size: 7em;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}
.in_slogan p {
    color: #31525B;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    line-height: 1.5;
}
/****************************
*          ICONES
****************************/
.in_table {
    width: 100%;
    padding-top: 20px;
    color: #818181;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.in_table td {
    text-align: center;
}
.in_table td, .in_table th {
    width: 200px;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;
}
.in_icons {
    display: flex;
    color: #31525B;
}

.fa-solid, .fas {
    font-weight: 900;
    color: #31525B;
    border: 2px solid #31525B;
    border-radius: 20%;
    padding: 10px;
}

/*****************************************
*     images chevauchant le header
******************************************/
.in_img_1 {
    width: 350px;
    height: auto;
    float: left;
    margin-top: 5%;
    padding-left: 40px;
}
.in_img_2 {
    max-width: 15%;
    height: auto;
    float: left;
    margin-top: 7%;
    margin-left: -100px;
    padding-right: 20px;
}
.in_img_3 {
    width: 200px;
    height: auto;
    float: right;
    margin-top: 5%;
    padding-right: 40px;
}
.in_gastronomie {
    width: 300px;
    height: auto;
}
/*****************************************
*                slider
******************************************/
.box {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.box .single-box img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: animate 32s infinite;
    animation: animate 32s infinite;
}
.box .single-box:nth-child(3) img {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}
.box .single-box:nth-child(2) img {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}
.box .single-box:nth-child(1) img {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}
@keyframes animate {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}


