/****************************
*       CSS INDONESIE
****************************/
@font-face {
    font-family: 'rained_personal_useregular';
    src: url('../fonts/rained-personal-use-webfont.woff2') format('woff2'),
         url('../fonts/rained-personal-use-webfont.woff') format('woff'),
         url('../fonts/rained-personal-use-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a:link {color: #b3dee5}
a:link:hover {color:#DEBD5B;}
header#in_header {box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;}

main#in {margin: 0; padding: 0; }
/****************************
*          colors
#fae6b1 --> beige/jaune
#ffa101 --> orange
#b3dee5 --> bleu clair
#31525b --> bleu/vert 
****************************/

.fd {
    background-color: #31525B;
    color: #fff;
    padding: 3%;
}
.clear {
    clear: both;
}

/*********************************************
*      div 80% de la largeur de la page 
***********************************************/
.in_content {
    width: 80%;
    margin: 100px auto;
    padding: 0;
}
.inline {
    display: inline-block;
    width: 100%;
}
.row {
    display: flex;
}
.col {
    flex: column;
}
.flex2 {
    width: 50%!important;
}
.flex3 {
    width: 33.33%!important;
}
.flex4 {
    width: 25%!important;
}
/****************************
*         couleurs 
*****************************/
.blue {color: #B3D5C6;}
.gold {color: #DEBD5B;}
.green {color: #31525B}
/****************************
*  formatage du texte 
*****************************/
body#in p {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}
body#in h1 {
    font-family: 'rained_personal_useregular', sans-serif;
    font-weight: normal;
    font-style: normal;
}
body#in h2, body#in h4, body#in h5, body#in h6 {
    font-family: "Playfair Display ", sans-serif;
}
.justify {
    text-align: justify;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}
.tcenter {
    text-align: center;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
.marge {
    padding: 0 10% 
}
.small {
    font-size: 0.8em;
    line-height: 1;
    padding-bottom: 15px;
}
.roboto {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
blockquote {
    font-size: 15px;
    font-style: italic;
    color: #31525B;
    text-align: left;
}
.in_txt {
    text-align: justify; 
    margin: 20px auto;
}
/*** meteo ***/
#meteo {
    max-width: 100%;
    border:2px solid #ccc;
    margin-top: 15px;
}
td {
    padding: 0 10px;
}
.entete{
    background:rgba(164, 164, 164, 0.5);
    padding: 5px;
    text-align: center;
}
.in_caption {
    position: absolute;
    top: 50%;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
}
/****************************
*          hero 
*****************************/
.in_hero {
    background-image: url(../img/indonesie/volcano.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
}
.in_hero-txt {
    width: 80%;
    text-align: center;
}
h1.in {
    color: rgba(255, 255, 255, 0.8);
    font-size: 7em;
    padding-top: 5%;
    text-align: center;
    margin: auto;
}
.in_slogan p {
    color: #31525B;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    line-height: 1.5;
}
/*****************************************************
*  taille et positionnement des images d'illustration 
******************************************************/
.right {
    float: right;
    max-width: 300px;
    height: auto;
    display: block;
}
.left {
    float: left;
    max-width: 350px;
    height: auto;
    display: block;

    padding: 0 10px 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 20px 0;
}
.in_center_items {
    align-items: center;
}
.in_icon {
    width: 70%;
}
.mini_map {
    max-width: 150px;
    height: 69px;
    display: inline-block;
}
.bestcity {
    width: 100%;
    padding:  50px 0;   
    clear: both;
}
.goodfly {
    text-align: center;
    color: #31525B;
    margin: auto;
}
/****************************
*          ICONES
****************************/
.in_table {
    padding-top: 2%;
    color: #818181;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.in_table td {
    text-align: center;
}
.in_table td, .in_table th {
    width: 200px;
    text-align: center;
    vertical-align: top;
    padding-top: 5px;
}
.in_icons {
    color: #31525B;
}

.fa-solid, .fas {
    font-weight: 900;
    color: #31525B;
    border: 2px solid #31525B;
    border-radius: 20%;
    padding: 5px;
}
.fa-gold {
    color: #DEBD5B;
}
/*****************************************************
*  taille et positionnement des images d'illustration 
******************************************************/
.right {
    float: right;
    max-width: 300px;
    height: auto;
    display: block;
}
.left {
    float: left;
    max-width: 350px;
    height: auto;
    display: block;
    padding: 0 10px 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 20px 0;
}
.in_icon {
    width: 60%;
}
.bestcity {
    width: 100%;
    padding:  50px 0;   
    clear: both;
}

/*****************************************************
*                images glissantes 
******************************************************/
#slides {
    margin: auto;
    width: 100%;
}
#slides div {
    background: #fff;
    float: left;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    position: relative;
    width: 45%;
}
#slides div h2 {
    font-size: 25px;
    padding: 10px 15px 0 15px;
}
#slides div img.mini_map_left {
    width: 180px;
    position: absolute;
    left: 900px!important;
    top: 248px!important;
}
#slides div img.mini_map_right {
    width: 180px;
    position: absolute;
    left: -300px;
    top: 248px!important;
}
#slides div p {
    text-align: justify;
    padding: 20px 20px 0;
}
#slides div table {
    padding: 0 40px 0;
}
#slides div img {
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 0.5s ease-in-out;
    -moz-transition: -moz-transform 0.5s ease-in-out;
    -o-transition: -o-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

#slides div.slide-left:hover img {
    transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    -o-transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
}

#slides div.slide-right:hover img {
    transform: translateX(600px);
    -moz-transform: translateX(600px);
    -o-transform: translateX(600px);
    -webkit-transform: translateX(600px);
}

/****************************
*      effets images 
*****************************/
/***zoom***/
.zoom img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom :hover img {
	-webkit-transform: scale(2);
	transform: scale(2);
    background: #fff;
        main {
            background: rgba(0,0,0,0.5);
        }
}
/***zoom-out***/
.zoom-out img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out :hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
  /***avion***/
  .avion {
    width:100%;
    margin:auto;
    overflow: hidden;
    position:relative;
 
    background: url(../img/indonesie/sky.png) no-repeat bottom left;
    overflow: hidden;
  }
  .avion img {
    -webkit-animation: anim 10s linear infinite;
    animation: anim 10s linear infinite;
    width:100px;
    position: absolute;
    left:-110px;
  }
  @-webkit-keyframes anim {
     from  {left:-110px;}
     to {left:2100px}
  }
  @keyframes anim {
     from  {left:-110px;}
     to {left:2100px}
  }

/*****************************************
*     images chevauchant le header
******************************************/
.in_img_1 {
    width: 350px;
    height: auto;
    float: left;
    margin-top: 5%;
    padding-left: 40px;
}
.in_img_2 {
    max-width: 15%;
    height: auto;
    float: left;
    margin-top: 7%;
    margin-left: -100px;
    padding-right: 20px;
}
.in_img_3 {
    width: 200px;
    height: auto;
    float: right;
    margin-top: 5%;
    padding-right: 40px;
}
.in_gastronomie {
    width: 300px;
    height: auto;
}
/*****************************************
*                slider
******************************************/
.box {
    display: flex;
    align-items: flex-start;
    background: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.box .single-box img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    transform: scale(1.5) rotate(15deg);
    -webkit-animation: animate 32s infinite;
    animation: animate 32s infinite;
}
.box .single-box:nth-child(3) img {
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}
.box .single-box:nth-child(2) img {
    -webkit-animation-delay: 16s;
    animation-delay: 16s;
}
.box .single-box:nth-child(1) img {
    -webkit-animation-delay: 24s;
    animation-delay: 24s;
}
@keyframes animate {
    25% {
        opacity: 1;
        transform: scale(1) rotate(0);
    }
    40% {
        opacity: 0;
    }
}
/*****************************************
*                footer
******************************************/
footer#in {
    width: 100%;
    margin: 0!important;
    padding: 0!important;
    background: url(../img/indonesie/sky.png) no-repeat top center;
    background-size: cover;
    color: #1a2a2e;
}
footer#in p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #1a2a2e;
}
footer#in h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #1a2a2e;
}
/***col_1***/
.footer_1 {
    width: 30%;
    padding: 50px;
}
/***col_2***/
.footer_2 {
    width: 30%;
    padding: 20px;
}
/***col_3***/
.footer_3 {
    width: 30%;
    padding: 40px;
}
/***form***/
.labels {text-align: right;}

.btn-footer:hover, input#name:hover, input#email:hover {
    background: #b3dee5;
}

.btn-footer, input#name, input#email  {
    color: #31525B;
    text-decoration: none;
    text-align: center;
    border: 1px solid #31525B;
    border-radius: 43px;
    margin: 7px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 8px;
}
/***avion***/
.goodfly {
    text-align: center;
    color: #31525B;
    margin: auto;
}

.fa-file {
    border: none;
    color: #b3dee5;
}
.fa-file:hover {color: #DEBD5B}
.fa-envelope, .fa-file {
    vertical-align: middle;
}

@media (max-width: 1096px) { 

    h1.in {
        font-size: 5em;
        padding-top: 10%;
    }
    .in_img_1, .in_img_2, .in_img_3 {
        display: none;
    }
    .hist {
        display: flex;
        flex-direction: column;
    }
    h2.advice {
        font-size: 2em;
    }
    #meteo {
        display: none;
    }
    .foot {
        flex-direction: column;
    }
    .footer_1, .footer_2, .footer_3 {
        width: 100%;
    }
    
}

  