#body_italie{
    background-color: #fae6b1;
    color: #31525b;
}

#h1_italie{
    color: red;
    margin-top: 6%;
}

#h3_italie{
    color: green;
}

#tableau_italie{
    width: 100%;
   
}
  
  #th_italie,#td_italie {
    border: 1px solid black;
    padding: 10px;
  }

.div_italie{
    width: 100%;
    display: flex;

}

.italie_1_fond{
    width: 20%;
    height: 100%;
    background-image: url("../img/italieMenu.png");
    background-size: 100%;
    opacity: 0.6;
    position: fixed;
    
}

.italie_1{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    margin-top: 5%;
}

.menuItalie{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.italie_2{
    margin-left: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.italie_2_entete{
    width: 78%;
    opacity: 0.85;
    margin-top: 1%;
    margin-bottom: 2%;
    border-style: solid;
    border-width: 10px;
    border-image: linear-gradient(90deg, rgb(255, 0, 0), rgb(255, 255, 255), rgb(0, 214, 36)) 1;
}

.italie_2_ville{
    width: 80%;
    margin-top: 1%;
    margin-bottom: 2%;
    display: flex;
}

.italie_2_ville_contenu{

    width: 50%;
}