/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p,
li,
a,
input,
select,
button {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
main a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* ***************************************
        PREMIER BLOC (ACCROCHE)
****************************************** */
.accroche {
  display: flex;
  flex-direction: row;
  background-color: #154284;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 2%;
}

.info_accueil {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.red_button {
  border-color: #cd122d;
  background-color: #cd122d;
  font-size: 22px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
}

/* ***************************************
        DEUXIEME BLOC (INFORMATIONS)
****************************************** */
.informations {
  background: url(lion.jpg) no-repeat;
  background-size: 50vh;
  background-position: top left;
  padding: 10px 0;
  color: #000;
}

image {
  background: url(girafes.jpg) no-repeat;
  background-size: 50vh;
  background-position: top right;
  padding: 10px 0;
  color: #000;
}

.informations h1,
p,
em,
h2,
h3 {
  text-align: center;
}

.image_centrer {
  display: flex;
  justify-content: center;
}

.bouton_jaune {
  border-color: #ffca4b;
  background-color: #ffca4b;
  font-size: 16px;
  margin-bottom: 3%;
  padding-bottom: 2%;
  margin-top: 2%;
}

.boite_horizontale {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 5.5%;
  margin-left: 5.5%;
  margin-bottom: 2%;
  margin-top: 2%;
  background-color: transparent;
  box-shadow: 0px 0px 70px 0px rgb(71 74 182 / 20%);
  border-radius: 10px;
}

.footer_2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color: #f2ffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.reseaux {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

.reseaux a {
  margin-right: 8px;
}

.logo_footer {
  width: 100%;
  height: auto;
}

.centrer {
  display: flex;
  justify-content: center;
  align-items: center;
}
