/****************************
*           CHARTE
****************************
#fae6b1 --> beige/jaune
#ffa101 --> orange
#b3dee5 --> bleu clair
#31525b --> bleu foncé
/****************************
*           RESET
****************************/
/*DÉBUT RESET*/
* {-moz-box-sizing: border-box; box-sizing: border-box;}
html,
body,
div,
ul,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a:link {
  color: #ffa120;
  text-decoration: none;
}

a:visited {
  color: #979191;
  text-decoration: none;
}

a:hover {
  color: #b3dee5;
  text-decoration: none;
}

a:active {
  color: rgb(174, 16, 16);
  text-decoration: none;
}
/*FIN RESET*/

h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif;}
h1 {font-size: 48px; line-height: 2;}
h2 {font-size: 40px; line-height: 1.9;}
h3 {font-size: 30px; line-height: 1.8;}
h4 {font-size: 20px; line-height: 1.7;}
h5 {font-size: 15px; line-height: 1.4;}
h6 {font-size: 13px; line-height: 1;}

body#index {
  background: -moz-radial-gradient(center, ellipse cover,  rgba(32,124,202,0) 50%, rgba(32,124,202,0.28) 64%, rgba(32,124,202,0.58) 79%, rgba(49,82,91,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(32,124,202,0) 50%,rgba(32,124,202,0.28) 64%,rgba(32,124,202,0.58) 79%,rgba(49,82,91,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(32,124,202,0) 50%,rgba(32,124,202,0.28) 64%,rgba(32,124,202,0.58) 79%,rgba(49,82,91,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00207cca', endColorstr='#31525b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  ;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #31525B;
  height: 50px;
  position: fixed;
  padding-top: 10px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.title {
  color: #ffa101;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-left: 3%;
  text-shadow: 1px 1px 1px #31525B;
  width: 30%;
  height: 50px;
}
.title h3 {
  margin: 0;
  color: #b3dee5;
  line-height: 1;
}
.map {
  width: 100%;
  width:100%;
  margin: auto;
}
.compass {
  width: 60px;
  height: 60px;
  float: right; 
}
.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

/****************************
*           TOOLS
****************************/
.row {display: flex; padding: 0 15px;}
.col {display:flex; flex-direction: column; padding: 0 15px;}
.wrap {flex-wrap: wrap;}

/****************************
*           MENU
****************************/
/* nav */
.nav-menu,.nav-menu ul,.nav-menu li,.nav-menu a { margin: 0; padding: 0; line-height: normal; list-style: none; display: block; position: relative; }
.nav-menu ul { opacity: 0; position: absolute; top: 100%; left: -9999px; z-index: 999; -webkit-transition: opacity .3s; transition: opacity .3s; }
.nav-menu li:hover > ul { left: 0; opacity: 1; z-index: 1000; }
.nav-menu ul li:hover > ul { top: 0; left: 100%; }
.nav-menu li { cursor: pointer; float: left; white-space: nowrap; }
.nav-menu ul li { float: none; }

/* sub largeur */
.nav-menu ul { 
  min-width: 10em;
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.25); 
  box-shadow: 2px 2px 2px rgba(0,0,0,0.25); 
}

/* center */
.nav-center { float: right; right: 50%; }
.nav-center > li { left: 50%; }
.nav-right { float: right; padding-right: 250px; }
/* root */
.nav-menu a {
  padding: 0 10px;
  color: #FAE6B1;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
}

/* root: active */
.nav-menu > li > .nav-active { background-color: rgba(0,0,0,0.05); }

/* root: hover/persistence */
.nav-menu a:hover,.nav-menu a:focus,.nav-menu li:hover a {
  background: #31525B;
  color: #FFF;
  transition: .5s;
}

/* 2 */
.nav-menu li li a,.nav-menu li:hover li a {
  padding: 8px 10px;
  background: #31525B;
  color: #FFF;
  font-size: 12px;
  line-height: normal;
}

/* 2: hover/persistance */
.nav-menu li:hover li a:hover,.nav-menu li:hover li a:focus,.nav-menu li:hover li:hover a {
  background: #444;
}

/* 3 */
.nav-menu li:hover li:hover li a {
  background: #444;
}

/* 3: hover/persistance */
.nav-menu li:hover li:hover li a:hover,.nav-menu li:hover li:hover li a:focus,.nav-menu li:hover li:hover li:hover a {
  background: #333;
}

/* 4 */
.nav-menu li:hover li:hover li:hover li a {
  background: #333;
}

/* 4: hover */
.nav-menu li:hover li:hover li:hover li a:hover,.nav-menu li:hover li:hover li:hover li a:focus {
  background: #222; 
}
.nav-menu ul li ul li:hover {
  background: #333;
  background-size: cover;;
  color: #FFF;
}

/****************************
*           FOOTER
****************************/
footer {
  position:relative;
  width:100%;
  padding: 25px 3%;
  background-color: #31525B;
  color: #b3dee5;
  bottom: 0;
}
a.in_cv {
  color: #fae6b1;
  text-decoration: none;
  width: 250px;
  display: block;
  line-height: 1.2;
}
a.in_cv:hover {
  color: #ffa101;
  text-decoration: none;
}
.pop {
  font-size: 20px;
  text-align: right;
  padding-right: 19%;
  padding-top: 10px;
}
/****************************
*           FORMS
****************************/
.forms {
  padding-top: 2%;
}
label {
  min-width: 245px;
  display: inline-block;
  color: #fff;
  padding-top: 1em;
}

@media (max-width:1096px) {
  .title h3 {
    font-size: 18px;
  }
  .nav-right {
    padding-right: 0;
  }
  .pop {
    padding-right: 0;
  }
  .nav-menu a {
    font-size: 12px;
  }
}